body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

strong{
    font-size: 2.2em;
    letter-spacing: 2px;
}

h1{
    font-size: 4.6em;
}

h2{
    font-size: 3.6em;
}

h3{
    font-size: 1.6em;
}

h4{
    font-size: 1.7em;
    margin: 10px auto;
}

p{
    font-family: 'Nunito Sans', sans-serif;
}

button,a{
    font-family: 'Titillium', sans-serif;
}

header,
footer,
section,
div,
form,
strong,
button,
a{
    display: flex;
}

section {
    height: 525px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

section>div {
    height: 98%;
    width: 100%;
}

@media screen and (min-width: 1600px) and (max-width: 1800px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section{
        max-width: 1800px;
    }
}

@media screen and (min-width: 1801px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section{
        max-width: 1920px;
    }
}
