/*:::::::::::::::::: SECCION - P L A N E S*/

.Planes{
    height: 450px;
    margin-top: 20px;
}

.ctnd-Planes{
    height: 99%;
    width: 95%;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.ctnd-descripcionPlan,
.ctnd-opcionesPlan{
    height: 98%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    box-sizing: border-box;
}

.ctnd-descripcionPlan{
    width: 32%;
    flex-direction: column;
    margin: 0px 5px;
    border-radius: 6px;
    border: 1px solid rgb(145, 145, 145);
}

.ctnd-opcionesPlan{
    width: 68%;
}

.opcionPlan{
    height: 100%;
    width: 33%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    box-sizing: border-box;
}

.descripcionPlan-titulo,
.descripcionPlan-descripcion,
.opcionPlan-titulo,
.opcionPlan-precio,
.opcionPlan-descripcion{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.descripcionPlan-titulo{
    height: 25%;
    color: rgb(2, 167, 131);
}

.descripcionPlan-descripcion{
    height: 75%;
}

.opcionPlan-titulo{
    height: 20%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(2, 167, 131);
    color: white;
}

.recomendado{
    background-color: #F9A914;
}

.opcionPlan-precio{
    height: 15%;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid white;
}

.opcionPlan-descripcion{
    height: 35%;
    flex-direction: column;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(158, 228, 213);
}

.descripcionPlan-titulo>h4{
    font-size: 1.4em;
}

.descripcionPlan-descripcion>ul{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 0.6em;
    margin-right: 0.6em; 
    padding-inline-start: 22px;
}

.descripcionPlan-descripcion li{
    list-style-image: url(../Pictures/flecha-correcta.png);
    padding-bottom: 6px;
    margin-bottom: 6px;
}

li.medida{
    list-style: none;
    font-weight: 600;
}

.opcionPlan-precio>p,
.opcionPlan-precio>b{
    padding: 0px 12px;
    margin: 4px 0px;
    font-family: 'Montserrat', sans-serif;
}

.opcionPlan-descripcion>p{
    padding: 0px 10px;
    margin: 8px 0px;
    text-align: center;
}

@media screen and (max-width: 499px){
    .tituloPagina{
        height: 220px;
    }
    .ctnd-tituloPagina{
        height: 90%;
        width: 98%;
    }
    .ctnd-tituloPagina>h2{
        font-size: 3em;
    }

    /*::::::::::::::: SECCION - P L A N E S*/
    .Planes{
        height: 1600px;
    }
    .ctnd-Planes{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(145, 145, 145);
    }

    .ctnd-descripcionPlan,
    .ctnd-opcionesPlan{
        width: 99%;
        flex-direction: column;
    }
    .ctnd-descripcionPlan{
        height: 32%;
        border: none;
    }
    .ctnd-opcionesPlan{
        height: 65%;
    }
    .opcionPlan{
        height: 30%;
        width: 100%;
    }
    .descripcionPlan-descripcion{
        width: 95%;
    }
    .opcionPlan-titulo{
        height: 20%;
    }
    .opcionPlan-precio{
        height: 15%;
    }
    .opcionPlan-descripcion{
        height: 35%;
    }
    .descripcionPlan-titulo>h4{
        font-size: 1.8em;
    }
    .descripcionPlan-descripcion li{
        font-size: 1.2em;
    }
    .opcionPlan-precio>b{
        font-size: 1.2em;
    }
    .opcionPlan-descripcion>p{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px){
    .tituloPagina{
        height: 200px;
    }
    .ctnd-tituloPagina{
        height: 90%;
        width: 98%;
    }
    .ctnd-tituloPagina>h2{
        font-size: 3em;
    }

    /*::::::::::::::: SECCION - P L A N E S*/
    .Planes{
        height: 1400px;
    }
    .ctnd-Planes{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(145, 145, 145);
    }
    .ctnd-descripcionPlan,
    .ctnd-opcionesPlan{
        width: 99%;
        flex-direction: column;
    }
    .ctnd-descripcionPlan{
        height: 28%;
        border: none;
    }
    .ctnd-opcionesPlan{
        height: 69%;
    }
    .opcionPlan{
        height: 30%;
        width: 100%;
    }
    .descripcionPlan-descripcion{
        width: 95%;
    }
    .opcionPlan-titulo{
        height: 20%;
    }
    .opcionPlan-precio{
        height: 15%;
    }
    .opcionPlan-descripcion{
        height: 35%;
    }
    .descripcionPlan-titulo>h4{
        font-size: 1.8em;
    }
    .descripcionPlan-descripcion li{
        font-size: 1.2em;
    }
    .opcionPlan-precio>b{
        font-size: 1.2em;
    }
    .opcionPlan-descripcion>p{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 700px) and (max-width: 940px){
    .tituloPagina{
        height: 220px;
    }
    .ctnd-tituloPagina{
        height: 90%;
        width: 98%;
    }
    .ctnd-tituloPagina>h2{
        font-size: 3em;
    }

    /*::::::::::::::: SECCION - P L A N E S*/
    .Planes{
        height: 720px;
    }
    .ctnd-Planes{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(145, 145, 145);
    }
    .ctnd-descripcionPlan{
        height: 46%;
        width: 99%;
        flex-direction: column;
        align-items: flex-start;
        border: none;
    }
    .ctnd-opcionesPlan{
        height: 50%;
        width: 99%;
        flex-direction: row;
    }
    .opcionPlan{
        height: 90%;
        width: 33%;
    }
    .descripcionPlan-titulo,
    .descripcionPlan-descripcion{
        width: 90%;
        justify-content: flex-start;
    }
    .opcionPlan-titulo{
        height: 20%;
    }
    .opcionPlan-precio{
        height: 13%;
    }
    .opcionPlan-descripcion{
        height: 41%;
    }
    .descripcionPlan-titulo>h4{
        margin: 10px 5px;
        font-size: 1.8em;
        text-align: left;
    }
    .descripcionPlan-descripcion li{
        font-size: 1.2em;
    }
    .opcionPlan-precio>p,
    .opcionPlan-precio>b{
        padding: 0px 8px;
    }
    .opcionPlan-precio>b,
    .opcionPlan-precio>p,
    .opcionPlan-descripcion>p{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 941px) and (max-width: 1024px){
    .tituloPagina{
        height: 200px;
    }
    .ctnd-tituloPagina{
        height: 90%;
        width: 98%;
    }
    .ctnd-tituloPagina>h2{
        font-size: 3em;
    }

    /*::::::::::::::: SECCION - P L A N E S*/
    .Planes{
        height: 800px;
    }
    .ctnd-Planes{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(145, 145, 145);
    }
    .ctnd-descripcionPlan{
        height: 44%;
        width: 99%;
        flex-direction: column;
        align-items: flex-start;
        border: none;
    }
    .ctnd-opcionesPlan{
        height: 52%;
        width: 99%;
        flex-direction: row;
    }
    .opcionPlan{
        height: 90%;
        width: 30%;
    }
    .descripcionPlan-titulo,
    .descripcionPlan-descripcion{
        width: 90%;
        justify-content: flex-start;
    }
    .opcionPlan-titulo{
        height: 20%;
    }
    .opcionPlan-precio{
        height: 14%;
    }
    .opcionPlan-descripcion{
        height: 38%;
    }
    .descripcionPlan-titulo>h4{
        margin: 10px 5px;
        font-size: 1.8em;
        text-align: left;
    }
    .descripcionPlan-descripcion li{
        font-size: 1.2em;
    }
    .opcionPlan-precio>b,
    .opcionPlan-precio>p,
    .opcionPlan-descripcion>p{
        font-size: 1.1em;
    }
}
