.SitiosWeb{
    height: 580px;
}

.ctnd-SitiosWeb{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*
.ctnd-sitios-introduccion{
    display: none;
    height: 0%;
    width: 90%;
}
*/
.ctnd-sitios-descripcion{
    height: 100%;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}

.ctnd-descripcion-caracteristicas{
    height: 99%;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ctnd-descripcion-planes{
    height: 99%;
    width: 48%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.ctnd-caracteristicas-titulo{
    height: 11%;
    width: 98%;
    color: rgb(2, 167, 131);;
}

.ctnd-caracteristicas-contenido{
    height: 87%;
    width: 98%;
    flex-direction: column;
    justify-content: space-around;
}

.ctnd-caracteristicas-contenido p{
    text-align: justify;
    line-height: 1.6;
}

.pb{
    font-weight: bold;
}

.ctnd-planes-tamaños{
    height: 34%;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.ctnd-planes-incluye{
    height: 42%;
    width: 98%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-radius: 6px;
    border: 1px solid rgb(145, 145, 145);
}

.ctnd-plan{
    height: 100%;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ctnd-plan-titulo,
.ctnd-plan-contenido,
.ctnd-plan-precio{
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.ctnd-plan-titulo{
    height: 26%;
    padding: 0px 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(2, 167, 131);
    color: white;
}

.recomendado{
    background-color: #F9A914;
}

.ctnd-plan-titulo>h5{
    text-align: center;
}

.ctnd-plan-contenido{
    height: 54%;
    padding: 0px 10px;
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid white;
    border-top: 1px solid white
}

.ctnd-plan-precio{
    height: 20%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(158, 228, 213);
}

.ctnd-plan-contenido>p{
    text-align: center;
}

.ctnd-incluye-titulo{
    height: 20%;
    width: 98%;
}

.ctnd-incluye-contenido{
    height: 78%;
    width: 98%;
}

@media screen and (max-width: 320px){
    .SitiosWeb{
        height: 1450px;
        padding-top: 15px;
    }
    .ctnd-sitios-descripcion{
        flex-direction: column;
    }
    .ctnd-descripcion-caracteristicas{
        height: 48%;
        width: 98%;
    }
    .ctnd-descripcion-planes{
        height: 48%;
        width: 98%;
    }
    .ctnd-caracteristicas-titulo{
        height: 10%;
    }
    .ctnd-caracteristicas-contenido{
        height: 88%;
    }
    .ctnd-planes-tamaños{
        height: 45%;
    }
    .ctnd-planes-incluye{
        height: 50%;
    }
    .ctnd-incluye-titulo{
        height: 15%;
    }
    .ctnd-incluye-contenido{
        height: 80%;
    }
    .ctnd-plan-contenido>ul{
        padding-inline-start: 25px;
    }
}

@media screen and (min-width: 321px) and (max-width: 499px){
    .SitiosWeb{
        height: 1400px;
        padding-top: 15px;
    }
    .ctnd-sitios-descripcion{
        flex-direction: column;
    }
    .ctnd-descripcion-caracteristicas{
        height: 48%;
        width: 98%;
    }
    .ctnd-descripcion-planes{
        height: 48%;
        width: 98%;
    }
    .ctnd-caracteristicas-titulo{
        height: 10%;
    }
    .ctnd-caracteristicas-contenido{
        height: 88%;
    }
    .ctnd-planes-tamaños{
        height: 45%;
    }
    .ctnd-planes-incluye{
        height: 50%;
    }
    .ctnd-incluye-titulo{
        height: 15%;
    }
    .ctnd-incluye-contenido{
        height: 80%;
    }
    .ctnd-plan-contenido>ul{
        padding-inline-start: 25px;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px){
    .SitiosWeb{
        height: 1200px;
        padding-top: 15px;
    }
    .ctnd-sitios-descripcion{
        flex-direction: column;
    }
    .ctnd-descripcion-caracteristicas{
        height: 52%;
        width: 98%;
    }
    .ctnd-descripcion-planes{
        height: 43%;
        width: 98%;
    }
    .ctnd-caracteristicas-titulo{
        height: 10%;
    }
    .ctnd-caracteristicas-contenido{
        height: 88%;
    }
    .ctnd-planes-espaciador{
        display: none;
    }
    .ctnd-planes-tamaños{
        height: 40%;
    }
    .ctnd-planes-incluye{
        height: 55%;
    }
}

@media screen and (min-width: 700px) and (max-width: 940px),
screen and (orientation: portrait) and (min-width: 941px) and (max-width: 1024px){
    .SitiosWeb{
        height: 1000px;
        padding-top: 15px;
    }
    .ctnd-sitios-introduccion,
    .ctnd-sitios-descripcion{
        width: 90%;
    }
    .ctnd-sitios-descripcion{
        flex-direction: column;
    }
    .ctnd-descripcion-caracteristicas{
        height: 50%;
        width: 98%;
    }
    .ctnd-descripcion-planes{
        height: 45%;
        width: 98%;
    }
    .ctnd-caracteristicas-titulo{
        height: 10%;
    }
    .ctnd-caracteristicas-contenido{
        height: 85%;
    }
    .ctnd-planes-espaciador{
        display: none;
    }
    .ctnd-planes-tamaños{
        height: 40%;
    }
    .ctnd-planes-incluye{
        height: 55%;
    }
}

@media screen and (orientation: portrait) and (min-width: 941px) and (max-width: 1024px){
    .ctnd-sitios-introduccion,
    .ctnd-sitios-descripcion{
        width: 80%;
    }
}
/*
@media screen and (min-width: 941px) and (max-width: 1024px){

}
*/
@media screen and (min-width: 1600px){
    .ctnd-descripcion-caracteristicas,
    .ctnd-descripcion-planes{
        height: 99%;
        width: 45%;
    }
    .ctnd-planes-tamaños{
        height: 30%;
    }
    .ctnd-planes-incluye{
        height: 45%;
    }
}
