/*::::::::::::::::::::::::::: S E C C I O N - B I E N V E N I D A */

.sect-Bienvenida{
    background-image: url(../Pictures/fondoBienvenida-dark.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.ctnd-Bienvenida{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctnd-Bienvenida>div{
    width: 98%;
    justify-content: center;
}

.ctnd-TituloBienvenida{
    height: 30%;
    align-items: flex-end;
}

.ctnd-FraseBienvenida{
    height: 20%;
    align-items: flex-start;
}

.ctnd-ParrafoBienvenida{
    height: 30%;
    align-items: center;
}

.ctnd-BotonContacto{
    height: 20%;
    align-items: center;
}

.ctnd-Parrafo{
    width: 40%;
    justify-content: center;
    align-items: center;
}

.ctnd-TituloBienvenida>h1{
    text-align: center;
    color: white;
    margin: 10px 2px;
}

.ctnd-FraseBienvenida>p{
    font-size: 2.2em;
    text-align: center;
    color: #F9A914;
    text-shadow: 0 0 8px black;
    margin: 15px 2px;
}

.ctnd-Parrafo>p{
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.an-apareceRevote{
    animation-name: apareceRevote;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}

@keyframes apareceRevote{
    0%, 10%{opacity: 0;}
    20%{opacity: 0.2;}
    30%{opacity: 0.4;}
    40%{opacity: 0.6;}
    50%{font-size: 1.6em;}
}

.ctnd-BotonContacto>a{
    height: 45px;
    width: 220px;
    justify-content: center;
    align-items: center;
    margin: 4px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: rgb(67, 127, 255);
    font-size: 1.3em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.ctnd-BotonContacto>a:hover{
    transition: 500ms all;
    cursor: pointer;
    background: rgb(41, 167, 252);
    box-shadow: inset 0 0 12px rgb(3, 59, 180);
}

@media screen and (max-width: 499px){
    .sect-Bienvenida{
        height: 465px;
    }

    .ctnd-Parrafo{
        width: 75%;
    }

    .ctnd-TituloBienvenida>h1{
        font-size: 2.4em;
    }

    .ctnd-FraseBienvenida>p{
        font-size: 1.4em;
    }

    .ctnd-Parrafo>p{
        font-size: 1.3em;
    }
    @keyframes apareceRevote{
        0%, 10%{opacity: 0;}
        20%{opacity: 0.2;}
        30%{opacity: 0.4;}
        40%{opacity: 0.6;}
        50%{font-size: 1.4em;}
    }
    .ctnd-BotonContacto>button{
        height: 40px;
        width: 300px;
    }
    .ctnd-BotonContacto>button:hover{
        transition: 500ms all;
        cursor: pointer;
        background: rgb(41, 167, 252);
        border: 8px solid rgb(41, 167, 252);
    }
}

@media screen and (min-width: 500px) and (max-width: 699px){
    .ctnd-Parrafo{
        width: 70%;
    }
    .ctnd-TituloBienvenida>h1{
        font-size: 3.4em;
    }

    .ctnd-FraseBienvenida>p{
        font-size: 2em;
    }

}

@media screen and (min-width: 700px) and (max-width: 1024px){
    .ctnd-Parrafo{
        width: 50%;
    }
    .ctnd-TituloBienvenida>h1{
        font-size: 3.8em;
    }

    .ctnd-FraseBienvenida>p{
        font-size: 2em;
    }

}

@media screen and (min-width: 1600px){
    .sect-Bienvenida{
        height: 650px;
    }
    .ctnd-TituloBienvenida>h1{
        font-size: 4.4em;
    }

    .ctnd-FraseBienvenida>p{
        font-size: 2.4em;
    }

    .ctnd-BotonContacto>button{
        height: 50px;
        width: 250px;
    }
}
