/*:::::::::::::::::::: SECCION - T I T U L O - P A G I N A*/

.tituloPagina{
    height: 134px;
    padding: 25px 0px 0px;
}

.ctnd-tituloPagina{
    height: 90%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctnd-tituloPagina>h1,
.ctnd-tituloPagina>b{
    margin: 5px auto;
    color: rgb(67, 127, 255);
}

.ctnd-tituloPagina>h1{
    font-size: 2.4em;
}

.ctnd-tituloPagina>h2{
    font-size: 1.4em;
    margin: 0.4em auto 0.7em;
    color: rgb(90, 90, 90);
}

.ctnd-tituloPagina>b{
    font-size: 1.2em;
}

@media screen and (max-width: 499px){
    .tituloPagina{
        height: 120px;
    }
    .ctnd-tituloPagina{
        height: 94%;
        width: 98%;
    }
    .ctnd-tituloPagina>h1{
        font-size: 2.2em;
    }
    .ctnd-tituloPagina>h2{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px){
    .ctnd-tituloPagina{
        height: 94%;
        width: 98%;
    }
    .ctnd-tituloPagina>h1{
        font-size: 2.3em;
    }
    .ctnd-tituloPagina>h2{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 700px) and (max-width: 940px){
    .ctnd-tituloPagina{
        height: 94%;
        width: 98%;
    }
    .ctnd-tituloPagina>h2{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 941px) and (max-width: 1024px){
    .ctnd-tituloPagina{
        height: 94%;
        width: 98%;
    }
    .ctnd-tituloPagina>h2{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1600px){
    .ctnd-tituloPagina>h1{
        font-size: 2.6em;
    }
    .ctnd-tituloPagina>h2{
        font-size: 1.4em;
    }
}
